*{
    margin: 0;
    padding: 0;
}
:root {
    --purple-bg: #290742;
    --dark-bg: #170027;
    --button-bg: #9e6dc2;
    --white: #fff;
    --light-purple: #fbf6ff;
    --green: #4fff4b;
    --roboto:'Roboto', sans-serif;
    --poppins:'Poppins', sans-serif;
  }
img{
 
    max-width: 100%;
}
.rocho{
    
    background: var(--purple-bg);
    padding: 25px;

}
header{
    display: flex;
    padding: 30px;
    gap: 56px;
    justify-content: space-around;
    
}
ul{
    display: flex;
    gap: 20px;
}
li{
    display: inline-block;
    list-style: none;

    
}
nav a{
    text-transform: capitalize;
    color: var(--white);
}

a{
    text-decoration: none;
    color: var(--button-bg);
    font-size: 1.2rem;
}
#b::before{
    content: "";
    display: inline-block;
    
    background-color: var(--green);
    width: 4px;
    height: 13px;
}
#divBusca{
    background-color:var(--button-bg);
    width:210px;
  }
  
  #txtBusca {
    float: left;
    background-color: var(--dark-bg);
    padding-left: 10px;
    font-style: italic;
    font-size: 18px;
    border: none;
    height: 37px;
    width: 170px;
}



h1{
    font-family: var(--poppins);
    color: var(--button-bg);
    line-height: 1.5;
    font-weight: 700;
    text-transform: uppercase;
    
}
.grid1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    gap: 40px;
    padding: 30px;
    
}
.grid2 p{
    color: var(--white);
}
p{
    font-family:var(--roboto);
    font-weight: 400;
    max-width: 65ch;
    line-height: 1.4;
}
.centro{
    max-width: 950px;
    margin: auto;
}

.grid2{
    display: grid;
    align-items: center;
}
.flex2{
    display: flex;
    gap: 10px;
}
hr{
    background-color: var(--green);
    padding: 3px;
}
h2{
    font-family: var(--roboto);
    font-weight: 700;
    color: var(--purple-bg);
    padding: 10px 0;
    
}

#filho1, #filho2{
   grid-column: 2;
}
.mudei{
  padding-bottom: 40px;   
}
.grid3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding: 30px;
   
    
}

.flex3{
    display: flex;
    gap: 20px;
    padding: 30px;
}